@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-600;
    text-underline-offset: 0.25rem;
  }
  a:hover {
    text-decoration: underline;
  }

  body {
    @apply bg-gray-50;
  }
  button {
    @apply w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  input,
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    @apply rounded border border-gray-400 hover:border-gray-500;
    @apply px-1.5 py-1 text-sm w-full;
    @apply focus:outline-none;
    @apply ring-transparent;
    @apply focus:border-blue-500 focus:ring-1 focus:ring-blue-500;
    @apply invalid:text-red-600 invalid:border-red-500;
    @apply focus:invalid:border-red-500 focus:invalid:ring-1 focus:invalid:ring-red-500;
  }
  input[type="checkbox"] {
    cursor: pointer;
    @apply w-4 h-4;
  }

  label {
    word-break: keep-all;
    user-select: none;
  }

  select {
    cursor: pointer;
    @apply p-2.5 pr-10 text-gray-900 bg-gray-50 text-sm;
    @apply rounded border border-gray-300 focus:ring-blue-500 focus:border-blue-500;
  }
}

@layer components {
  .page {
    margin: 2rem auto;
    @apply p-4;
    @apply rounded-lg shadow-lg bg-white;
  }
  .primary-button {
    @apply text-sm px-5 py-2.5 text-center rounded-lg;
    @apply text-white bg-blue-600 hover:bg-blue-700;
    @apply focus:ring-4 focus:outline-none focus:ring-blue-300;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
